nav {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
   text-decoration: none;
   color: #ff6384;
   cursor: pointer;
   padding: 10px 20px;
}
nav a:hover{
    color: #fff;
    background-color: #ff6384;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}

@media (max-width:768px) {
    nav a{
        padding: 10px;
    }
    nav ul li{
        display: inline-block;
        padding: 10px;
    }
}