.userController {
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: fit-content;
}

.userController .userCard {
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: fit-content;
}

.userController .userCard .text-centerHrader {
    text-align: center;
}

.userController .userCard .sectionEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flexUpdate {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
}
@keyframes prld_one {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.5) rotate(180deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}